{% extends 'base.html' %}
<meta charset="UTF-8">
<title>Объявления</title>
{% block content %}
    {% csrf_token %}
    <div>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'ad_list' %}">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"
                   name="query">
        </form>
    </div>
    {% for advert in adverts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ advert.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ advert.title }}</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'ad_detail' pk=advert.id %}" class="btn btn-primary">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
{% endblock %}



